<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pacvue.segment.event.service.mapper.SegmentEventLogMapper">
    <!-- 查询所有数据（使用 LIMIT 分页） -->
    <select id="selectSegmentEventLogByCursor" resultType="com.pacvue.segment.event.service.entity.po.SegmentEventLog">
        SELECT
            MAX(eventDate) AS eventDate,
            hash,
            MAX(type) AS type,
            MAX(userId) AS userId,
            MAX(result) AS result,
            MAX(message) AS message,
            MIN(eventTime) AS eventTime
        FROM (
            SELECT *
            FROM SegmentEventLog
            <where>
                <if test="from != null">
                    AND eventTime > toUnixTimestamp(toDateTime(substring_index(#{from}, '.', 1)))
                </if>
                <if test="to != null">
                    AND eventTime &lt;= toUnixTimestamp(toDateTime(substring_index(#{to}, '.', 1)))
                </if>
                <if test="type != null">
                    AND type = #{type}
                </if>
                <if test="operation != null">
                    AND operation = #{operation}
                </if>
                <if test="cursor != null">
                    <!-- 这里可能会是复杂多条件判断，预留了改造可能性 -->
                    <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                        <if test="cursor.hash != null">
                            OR hash > #{cursor.hash}
                        </if>
                    </trim>
                </if>
            </where>
        )
        GROUP BY hash
        <if test="focus == null or focus == false">
            HAVING result = 0
        </if>
        ORDER BY hash ASC
        LIMIT #{pageSize}
    </select>
</mapper>
